/********* flex布局 ******************/

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex_between_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.flex_between_wrap_top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.flex_between_top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.flex_around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex_around_wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.flex_around_wrap_top {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}


.flex_start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex_start_wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.flex_end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* // 垂直方向 */
.flex_column_around {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* // 垂直方向 */
.flex_column_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}